[submodule "Engine/External/SDL"]
	path = Engine/External/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "Engine/External/stb"]
	path = Engine/External/stb
	url = https://github.com/aquagoose/stb
[submodule "Engine/External/SDL_shadercross"]
	path = Engine/External/SDL_shadercross
	url = https://github.com/libsdl-org/SDL_shadercross
